_KEYSPACE=keyspace
_USER_ID=1234
MONGODB_URI=mongodb://localhost:27017/your_app_name

JWT_SECRET=your-super-secret-jwt-key-min-32-chars
JWT_EXPIRES_IN=7d
APP_URL=http://localhost:3000
SEED_ADMIN_ENABLE=true
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=ChangeMe123!

QB_SCAFFOLDER_KEY=
